<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeHistory()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="top-up-header">
            <h4>Top up History</h4>
        </div>
        <div class="list">
            <ion-item>
                <h2>₹ 201 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 202 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 503 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 504 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 605 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 606 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 607 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 608 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 609 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
            <ion-item>
                <h2>₹ 6010 <span class="item-note">21/10/2015</span></h2>
            </ion-item>
        </div>
    </ion-content>
</ion-modal-view>