<ion-modal-view>
    <ion-header-bar align-title="center">
        <h1 class="title">Change Password</h1>
        <div class="buttons padding-horizontal ">
            <button class="button button-clear" ng-click="closeChangePassword()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">

        <div class="list bordn">

            <label class="item item-input item-stacked-label">
                <span class="input-label ">Current password</span>

                <input type="password" class="login-input" ng-model="change.pass" placeholder="password" required ng-class="{'brdr-red':validate.pass}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">New password</span>

                <input type="password" class="login-input" ng-model="change.editpass" placeholder="password" required ng-class="{'brdr-red':validate.editpass}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">Confirm new password</span>

                <input type="password" ng-change="checkPassword()" class="login-input" ng-model="change.confirmeditpass" placeholder="password" required ng-class="{'brdr-green': confirmed,'no-border':!confirmed,'brdr-red':validate.confirmeditpass}">
            </label>
        </div>
        <button class="button button-block button-assertive padding-horizontal" ng-click="changePass()">Submit</button>
    </ion-content>
</ion-modal-view>