<div bgcolor="282828">
    <table bgcolor="#fff" width="620" align="center" style="font-family:Arial;font-size:15px;color:#666666" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="15" style="display: block; max-width: 851px;"></td>
            </tr>
            <tr>
                <td>
                    <table width="620" height="37" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr height="37">
                                <td width="183"><img src="http://i.imgur.com/jCZi7Eu.png" width="183" height="37" style="display: block; max-width: 851px;"></td>
                                <td align="right">
                                    <a href="http://mandrillapp.com/track/click/30322049/www.facebook.com" target="_blank"><img src="http://i.imgur.com/mRNJ0VF.png" width="23" height="23" style="display: inline-block; max-width: 851px;"></a>
                                </td>
                                <td width="60"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="60" height="15" style="display: block; max-width: 851px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td><img src="http://i.imgur.com/rRwcCVb.png" width="620" height="41" style="display: block; max-width: 851px;">
                </td>
            </tr>
            <tr>
                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="50" style="display: block; max-width: 851px;"></td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td width="60"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="60" height="20" style="display: block; max-width: 851px;"></td>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="20" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td><font style="font-size:19px;color:black">Congratulations for redeeming your money using </font><font style="color:#0060aa;font-size:22px">PAiSO</font><img src="http://i.imgur.com/jlZwjih.png" width="25" style="display: inline-block; max-width: 851px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="5" style="display: block; max-width: 851px;"></td>
                                            </tr>

                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="20" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#d7d7d7"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="1" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="20" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font:Arial;font-weight:bold;color:#000;padding-bottom:10px;">Dear *|NAME|*,</td>

                                            </tr>
                                            <tr>
                                                <td style="font-size:14px">
                                                    <div>You have redeemed ₹ *|AMOUNT|* using the app </div>

                                                    <div style="margin-top:4px"> </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="30" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr style="line-height:normal">
                                                <td style="color:#585858;font-size:14px;font-family:Arial;padding-bottom:20px">The details of your shopping voucher are:- </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#585858;font-size:14px;font-family:Arial;line-height:normal"><b></b>
                                                    <table style="width:80%;text-align:center; border: 1px solid black;
    border-collapse: collapse;">
                                                        <tr>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"><b>Brand</b></td>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;">*|BRAND|*</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"><b>Amount</b></td>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;">₹ *|AMOUNT|*</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"><b>Voucher Number</b></td>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;">*|VOUCHERNUMBER|*</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"><b>Voucher Pin</b></td>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;"><b>Validity</b></td>
                                                            <td style="border: 1px solid black;
    border-collapse: collapse;padding: 10px;">*|VALIDTILL|*</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:20px;font-size:14px">Here’s wishing you HAPPY SHOPPING from the entire PAiSO team!
                                                    <br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#585858;font-size:14px;font-family:Arial;padding-top:10px"> Don’t forget that you can multiply your earnings by inviting your friends to use PAiSO.</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:4px;font-size:14px"> Share your referral link with your friends now! : <a href="http://mandrillapp.com/track/click/30322049/paiso.in?p=eyJzIjoibF9tV1RUVG83UTk4V3Q1cFlKRWdRNG1uX3Q4IiwidiI6MSwicCI6IntcInVcIjozMDMyMjA0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvY3Jvd25pdC5pblxcXC85ODIwMDQ1Njc4XCIsXCJpZFwiOlwiN2ViODBhNzRkZjIzNDFiYjkzNjRlZTlkYjc2OTgxMTlcIixcInVybF9pZHNcIjpbXCJhNzcyN2MyYmY2ZGI1ZjAyMWVjZGM2NmMzZDk5YmY4YTU3Yjc0MWE5XCJdfSJ9" style="color:#d17e1c;line-height:normal;font-size:14px" target="_blank">http://paiso.in/*|REFERRAL|* </a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="20" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#d7d7d7"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="1" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:20px;font-size:14px">As always, thank you for using PAiSO! :-) </td>
                                            </tr>
                                            <tr>
                                                <h4 style="text-align:center;">Scan this barcode for easy voucher number retrieval :</h4>
                                                <img src="*|BANNER|*" alt="">
                                            </tr>
                                            <tr>
                                                <td style="padding-top:20px;font-size:14px">Help others discover and earn with PAiSO by leaving a review &amp; rating the app here: <a href="http://paiso.in/app" target="_blank">http://paiso.in/app</a> </td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="45" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;color:#454443">Regards,
                                                    <br>PAiSO Team
                                                    <br><a href="http://mandrillapp.com/track/click/30322049/paiso.in?p=eyJzIjoiR2FaLXBPZExCR2MzT3c4a0FVZ2k4bm1XOUFJIiwidiI6MSwicCI6IntcInVcIjozMDMyMjA0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvY3Jvd25pdC5pblwiLFwiaWRcIjpcIjdlYjgwYTc0ZGYyMzQxYmI5MzY0ZWU5ZGI3Njk4MTE5XCIsXCJ1cmxfaWRzXCI6W1wiOTNlNWUwMDRjNzQ1MjEyMWJkYmJiMTY0OGQzYWNkNTA5Y2VkZTYxM1wiXX0ifQ" target="_blank">Visit our website</a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="70" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td><img src="http://i.imgur.com/rRkjCAk.png" width="101" height="15" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                            <tr>
                                                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="20" style="display: block; max-width: 851px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="60"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="60" height="20" style="display: block; max-width: 851px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="3" bgcolor="#0060aa"><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="1" style="display: block; max-width: 851px;"></td>
            </tr>
            <tr>
                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="10" style="display: block; max-width: 851px;"></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td><img src="https://ci3.googleusercontent.com/proxy/31K3aOYgoJNgN9rN7tGuBmnWzEFQq61pMsRm8HOmnbV9HGHmF3VVOXO71IY2XnWqHL770O8buk_5GrsNAjrcHH21gBnHHgivuAMgolGj0HGQrzHIl1bSrcEQS-0GczOHP6_fJ5sUPXVZ7bUKgNCzYpNC6eXUTEzEmDq0zw=s0-d-e1-ft#http://gallery.mailchimp.com/58fca63d69ed4b30611a2aec6/images/2061d550-cfd9-4360-a1c6-dcf13321f084.gif" width="20" height="35" style="display: block; max-width: 851px;"></td>
            </tr>
        </tbody>
    </table>
    <img src="https://ci6.googleusercontent.com/proxy/fF4egnRNyDwfGS6Dhs0mu6qxuY6c7gXYxvhhXGuz3PXNqe5nAkECKPtVsg196V6kzPR6vspiPex-UAmlPtMd_NzPOcnp0kwuzsS9WiFnAvz4-MZwdsuRzd6dZ4mHvrTKqaRzEixV2LtSpw=s0-d-e1-ft#http://mandrillapp.com/track/open.php?u=30322049&amp;id=7eb80a74df2341bb9364ee9db7698119" height="1" width="1" style="max-width: 851px;"></div>