<ion-view view-title="FAQ and About Us">
    <div class="bar bar-subheader no-padding">
        <div class="row ">
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                <button class="button button-clear no-padding " ng-click="clickTab('left')">
                    <h5>About us</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                <button class="button button-clear no-padding " ng-click="clickTab('right')">
                    <h5>FAQ</h5></button>
            </div>
        </div>
    </div>
    <ion-content>
    </ion-content>
</ion-view>