<ion-view view-title="FAQ and About Us">
    <div class="bar bar-subheader no-padding">
        <div class="row ">
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                <button class="button button-clear no-padding " ng-click="clickTab('left')">
                    <h5>About us</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                <button class="button button-clear no-padding " ng-click="clickTab('right')">
                    <h5>FAQ</h5></button>
            </div>
        </div>
    </div>
    <ion-content class="has-subheader">
        <div class="aboutus" ng-show="tab.left">
            <h4>WHO WE ARE?</h4>
            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
            <p>

                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
            <h4>WHAT WE ARE DOING?</h4>
            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim</p>
        </div>
        <div class="faq" ng-show="tab.right">
            
        </div>
    </ion-content>
</ion-view>