<ion-view view-title="FAQ and About Us">
    <div class="bar bar-subheader no-padding">
        <div class="row ">
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                <button class="button button-clear no-padding " ng-click="clickTab('left')">
                    <h5>About us</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                <button class="button button-clear no-padding " ng-click="clickTab('right')">
                    <h5>FAQ</h5></button>
            </div>
        </div>
    </div>
    <ion-content class="has-subheader">
        <div class="aboutus" ng-show="tab.left">
            <h4>WHO WE ARE?</h4>
            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
            <p>

                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.</p>
            <h4>WHAT WE ARE DOING?</h4>
            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim</p>
        </div>
        <div class="faq" ng-show="tab.right">
        <accordion close-others="oneAtATime">
                <accordion-group heading="What can I do with my PaisO Wallet?" class="accordion-header">
                  
                        <ion-item class="item item-text-wrap padding no-border">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rerum et corporis sequi nulla saepe iusto, earum nemo minima ipsam autem. Molestias, porro, est. Repellendus earum labore, atque expedita dolores.
                        </ion-item>
                   
                </accordion-group>
                <accordion-group heading="So how does ‘cash’ appear in my PaisO Wallet account?" class="accordion-header">
                   
                        <ion-item class="item item-text-wrap padding no-border">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores, aperiam, quibusdam molestiae sint quos itaque error commodi eligendi fugit.
                        </ion-item>
                   
                </accordion-group>
                  <accordion-group heading="How do I avail a voucher?" class="accordion-header">
                   
                        <ion-item class="item item-text-wrap padding no-border">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores, aperiam, quibusdam molestiae sint quos itaque error commodi eligendi fugit.
                        </ion-item>
                   
                </accordion-group>
                  <accordion-group heading="How do I redeem an available voucher?" class="accordion-header">
                   
                        <ion-item class="item item-text-wrap padding no-border">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores, aperiam, quibusdam molestiae sint quos itaque error commodi eligendi fugit.
                        </ion-item>
                   
                </accordion-group>

            </accordion>
        </div>
    </ion-content>
</ion-view>