<ion-modal-view>
    <ion-header-bar align-title="center">
        <h1 class="title">Forgot Password</h1>
        <div class="buttons padding-horizontal ">
            <button class="button button-clear" ng-click="closeForgotPassword()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">

        <div class="list bordn">
            <h4 class="text-center">Enter your mobile number below and we'll send you password reset instructions on your email address.</h4>
            <label class="item item-input item-stacked-label">
                <span class="input-label db">Mobile Number</span>
                <p type="text" class="wth">+91</p>
                <input type="tel" placeholder="Phone Number" class="login-input displ" ng-model="forgot.mobile" ng-class="{'brdr-red':validate.mobile}">
            </label>
        </div>
        <button class="button button-block button-assertive padding-horizontal" ng-click="forgotPass()">Submit</button>
    </ion-content>
</ion-modal-view>