<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">Select card</h1>
    <div class="buttons padding-horizontal ">
      <button class="button button-clear" ng-click="closeGetCard()"><i class="icon ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-item class="item paycard">
        <h2>My HDFC</h2>
        <p>Debit card | VISA</p>
        <span>Exp. : 08/2033</span>
        <i class="icon ln-chevron-right"></i>

    </ion-item>
  </ion-content>
</ion-modal-view>
