<ion-view>
   <ion-nav-title>
       <h1 class="title">
           {{category.name}}
       </h1>
   </ion-nav-title>
    <ion-content>
       <h1 class="category-header-txt">
           Choose from popular online markets!
       </h1>
        <div class="category-container">
            <div class="row" ng-repeat="row in vendors" ng-if="vendors.length!=0">
                <a href="#/app/redeem/{{item._id}}" style="text-decoration:none;color: black;" class="col-33 padding" ng-repeat="item in row" ng-if="item.status" >
                    <div class="img-holder">
                        <img class="category-image" src="img/categories/vendors.png" alt="">
                    </div>
                    <span>{{item.name}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>