<ion-view>
   <ion-nav-title>
       <h1 class="title">
           {{category.name}}
       </h1>
   </ion-nav-title>
    <ion-content>
       <!-- <h1 class="category-header-txt">
           Choose from popular online markets!
       </h1> -->
        <div class="category-container">
            <div class="row" ng-repeat="row in vendors" ng-if="vendors.length!=0">
                <a href="#/app/redeem/{{item._id}}" style="text-decoration:none;color: black;" class="col col-33" ng-repeat="item in row" ng-if="item.status" >
                    <div class="img-holder">
                        <img class="category-image" ng-src="{{item.logourl | serverimage}}" alt="">
                        <span ng-if="item.hasoffer" class="badge offer-badge badge-calm">{{item.offerpercent}}% more</span>
                    </div>
                    <div class="text-center fixed-height">{{item.name}}</div>

                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
