<ion-view view-title="Home">
    <ion-content>
        <div class="home">
            <div class="wallet-holder">
                <div class="wallet-balance">
                    <h3>Wallet Balance</h3>
                    <h2>₹ 2640/-</h2>
                </div>
                <img src="img/walletlock.png" alt="">
            </div>
            <div class="list list-inset">
               <div class="item item-divider">Categories</div>
                <ion-item class="item item-avatar" href="#/app/ecommerce">
                   <img src="img/ecommerce.png" alt="">
                    <h2>E-Commerce</h2>
                </ion-item>
                <ion-item class="item item-avatar">
                   <img src="img/restaurant.png" alt="">
                    <h2>Restaurants</h2>
                </ion-item>
                <ion-item class="item item-avatar">
                   <img src="img/movie.png" alt="">
                    <h2>Movie Bookings</h2>
                </ion-item>
                <ion-item class="item item-avatar">
                   <img src="img/sports.png" alt="">
                    <h2>Sports Merchandise</h2>
                </ion-item>
                <div class="item item-divider bg-assertive">View more</div>
            </div>
<!--
            <div class="item item-divider">Recent Expenditures</div>
            <div class="item item-avatar">
                <img src="img/amazon.jpg">
                <h2>Amazon</h2>

            </div>
-->
        </div>

    </ion-content>
</ion-view>