<ion-view view-title="Home">
    <ion-content>
        <div class="home">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="item in banners" href="{{item.link}}" ng-click="slideIsSelected($index)"><img class="full-image" ng-src="{{item.imgurl}}" alt=""></ion-slide>
            </ion-slide-box>
            <a href="#/app/wallet" style="text-decoration:none;">
                <div class="wallet-holder" style="margin-top: -5px;">
                    <div class="wallet-balance">
                        <h3>Wallet Balance</h3>
                        <h2>₹ {{user.balance}}/-</h2>
                    </div>
                    <img src="img/walletlock.png" alt="">
                </div>
            </a>
            <div class="list list-inset">
                <div class="item item-divider">Categories</div>
                <ion-item class="item item-avatar" ng-repeat="item in category | orderBy: item.order" ng-if="item.status" ng-click="routeCategory(item)">
                    <img src="img/ecommerce.png" alt="">
                    <h2 style="line-height: 234%;">{{item.name}}</h2>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>