<ion-view>
    <ion-nav-title>
        <h1 class="title">
           {{category.name}}
       </h1>
    </ion-nav-title>
    <ion-content>
        <!-- <h1 class="category-header-txt">
           Choose from popular online markets!
       </h1> -->
        <a ng-repeat="item in vendors" ng-if="item.status" href="#/app/redeem/{{item._id}}" class="video-set" style="text-decoration:none">
            <figure class="bg-img" ng-style="{'background-image': 'url({{item.bannerurl[0] | serverimage}})'}">
                <!-- <img ng-src="{{item.bannerurl[0] | serverimage}}" class="full-image"> -->
                <div class="img-layer">
                    <div class="bottom-txt">
                        <h4>{{item.name}}</h4>
                    </div>
                </div>
            </figure>
        </a>
    </ion-content>
</ion-view>
