<ion-view view-title="">
    <ion-content>
        <h1 class="category-header-txt">
           Choose from popular online markets!
       </h1>
        <div class="video-set animated bounceInLeft">
            <figure ui-sref="app.videodetail({id:videos.snippet.resourceId.videoId})">
                <img ng-src="img/slides/slide1.jpg" class="full-image">
                <div class="img-layer">
                    <div class="bottom-txt">
                        <h4 ng-bind-html="">Hi</h4>
                    </div>
                </div>
            </figure>
        </div><div class="video-set animated bounceInLeft">
            <figure ui-sref="app.videodetail({id:videos.snippet.resourceId.videoId})">
                <img ng-src="img/slides/slide1.jpg" class="full-image">
                <div class="img-layer">
                    <div class="bottom-txt">
                        <h4 ng-bind-html="">Hi</h4>
                    </div>
                </div>
            </figure>
        </div>
    </ion-content>
</ion-view>