<ion-view>
    <ion-content class="login-content">
        <div class="login-signup">
            <div class="spacer-small"></div>
            <div class="text-center cover">
                <img src="img/icon.png" alt="">
            </div>
            <div class="spacer-small"></div>
            <div class="row no-padding">
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                    <button class="button button-clear no-padding " ng-click="clickTab('left')">
                        <h5>Log in</h5></button>
                </div>
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                    <button class="button button-clear no-padding " ng-click="clickTab('right')">
                        <h5>Sign up</h5></button>
                </div>
            </div>
            <div class="forms">
                <form ng-show="tab.left">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">+91</span>
                            <input type="number" placeholder="Phone Number" ng-model="user.mobile">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="user.password">
                        </label>
                    </div>
                </form>
                <form ng-show="tab.right">
                    <div class="list">
                        <label class="item item-input label-tag" ng-class="{'brdr-yellow':required}">
                            <input type="text" ng-focus="isFocused(0)" ng-model="signup.name" placeholder="Name">
                            <span ng-show="focus[0]">Name</span>
                        </label>

                        <label class="item item-input label-tag">
                            <input type="tel" ng-focus="isFocused(1)" ng-model="signup.mobile" placeholder="Phone number">
                            <span ng-show="focus[1]">Phone number</span>

                        </label>
                        <label class="item item-input label-tag">
                            <input type="email" ng-focus="isFocused(2)" ng-model="signup.email" placeholder="Email">
                            <span ng-show="focus[2]">Email</span>

                        </label>
                        <label class="item item-input label-tag">
                            <input type="password" ng-focus="isFocused(3)" ng-model="signup.password" placeholder="Password">
                            <span ng-show="focus[3]">Password</span>

                        </label>
                        <label class="item item-input label-tag">
                            <input type="password" ng-focus="isFocused(4)" ng-model="signup.confirmpassword" placeholder="Confirm password">
                            <span ng-show="focus[4]">Confirm password</span>

                        </label>
                        <label class="item item-input label-tag">
                            <input type="text" ng-focus="isFocused(5)" ng-model="signup.promo" placeholder="Promo code (If any)">
                            <span ng-show="focus[5]">Promo code</span>

                        </label>

                    </div>
                </form>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar align-title="left" ng-hide="hideButtonOnInput" class="bar-assertive" ng-show="tab.left">
        <button class="button button-clear button-block no-margin" style="color:#000" ng-click="doLogin()">Log In</button>
    </ion-footer-bar>
    <ion-footer-bar align-title="left" ng-hide="hideButtonOnInput" class="bar-assertive" ng-show="tab.right">
        <button class="button button-clear button-block no-margin" style="color:#000" ng-click="doSignup()">Sign Up</button>
    </ion-footer-bar>
</ion-view>