<ion-view>
    <ion-content class="login-content">
        <div class="login-signup">
            <div class="spacer-small"></div>
            <div class="text-center cover">
                <img src="img/icon.png" alt="">
            </div>
            <div class="spacer-small"></div>
            <div class="row no-padding">
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                    <button class="button button-clear no-padding " ng-click="clickTab('left')">
                        <h5>Log in</h5></button>
                </div>
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                    <button class="button button-clear no-padding " ng-click="clickTab('right')">
                        <h5>Sign up</h5></button>
                </div>
            </div>

            <div class="forms">
                <form ng-show="tab.left">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">+91</span>
                            <input type="tel" placeholder="Phone Number" ng-model="user.contact">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="user.password">
                        </label>
                    </div>
                </form>
                <form ng-submit="doLogin()" ng-show="tab.right">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Name">
                        </label>
                        <label class="item item-input">
                            <input type="tel" placeholder="Phone number">
                        </label>
                           <label class="item item-input">
                            <input type="email" placeholder="Email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Confirm password">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Promo code (If any)">
                        </label>
                        
                    </div>
                </form>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive" ng-show="tab.left">
        <button class="button button-clear button-block no-margin" style="color:#000" ng-click="doLogin()">Log In</button>
    </ion-footer-bar>
    <ion-footer-bar align-title="left" class="bar-assertive" ng-show="tab.right">
        <button class="button button-clear button-block no-margin" style="color:#000" ng-click="doLogin()">Sign Up</button>
    </ion-footer-bar>
</ion-view>