<ion-view>
    <ion-content class="login-content">
        <div class="login-signup">
            <div class="spacer-small"></div>
            <div class="text-center cover">
                <img src="img/icon.png" alt="">
            </div>
            <div class="spacer-small"></div>
            <div class="row no-padding">
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                    <button class="button button-clear no-padding " ng-click="clickTab('left')">
                        <h5>Log in</h5></button>
                </div>
                <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                    <button class="button button-clear no-padding " ng-click="clickTab('right')">
                        <h5>Sign up</h5></button>
                </div>
            </div>
            <div class="forms">
                <form ng-show="tab.left">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">+91</span>
                            <input type="tel" placeholder="Phone Number" class="login-input" ng-model="login.mobile" ng-class="{'brdr-red':validateIt.mobile}">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" class="login-input" ng-model="login.password" ng-class="{'brdr-red':validateIt.password}">
                        </label>
                        <div class="padding">
                            <button class="button button-assertive button-block no-margin" ng-click="doLogin()">Log In</button>
                        </div>
                    </div>
                </form>
                <form ng-show="tab.right">
                    <div class="list">
                        <label class="item item-input label-tag" ng-class="{'brdr-yellow':required}">
                            <input type="text" class="login-input" ng-model="signup.name" placeholder="Name" ng-class="{'brdr-red':validate.name}">

                        </label>

                        <label class="item item-input label-tag">
                            <input type="tel" class="login-input" ng-model="signup.mobile" placeholder="Phone number" required ng-class="{'brdr-red':validate.mobile}">


                        </label>
                        <label class="item item-input label-tag" ng-click="openDate();">
                            <input type="text" name="string" class="login-input" ng-model="signup.date" placeholder="Date of birth" required ng-class="{'brdr-red':validate.date}" disabled>
                        </label>
                        <label class="item item-input item-select" ng-class="{'brdr-red':validate.gender}">
                            <div class="input-label" style="color: #B1B1B1;font-size: 14px;">
                                Gender
                            </div>
                            <select ng-model="signup.gender" style="background-color:#F1F3F4">
                                <option selected>Male</option>
                                <option>Female</option>
                            </select>
                        </label>
                        <label class="item item-input label-tag">
                            <input type="email" class="login-input" ng-model="signup.email" placeholder="Email" ng-class="{'brdr-red':validate.email}">


                        </label>
                        <label class="item item-input label-tag">
                            <input type="password" class="login-input" ng-model="signup.password" placeholder="Password" required ng-class="{'brdr-red':validate.password}">


                        </label>
                        <label class="item item-input label-tag">
                            <input type="password" class="login-input" ng-class="{'brdr-green': confirmed,'no-border':!confirmed}" ng-model="signup.confirmpassword" ng-change="checkPassword()" placeholder="Confirm password">
                            <!--                            <span ng-bind-html="confirmP"></span>-->

                        </label>
                        <label class="item item-input label-tag">
                            <input type="tel" class="login-input" ng-model="signup.referrer" placeholder="Referral code (If any)">


                        </label>
                        <div class="padding">
                            <a class="button button-assertive button-block no-margin" ng-click="checkOTP()">Sign up</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ion-content>

</ion-view>
