<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" align-title="center">
            <ion-nav-buttons side="left" ng-click="refreshUser()">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <!--
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search">
                </button>
            </ion-nav-buttons>
-->
            <ion-nav-buttons side="right" class="padding-horizontal">
                    <div class="padding-horizontal" ng-if="canfavorite">
                        <button class="button cart-button button-icon button-clear " onclick="favorite.pushFavorite()"><i class="cart-icon icon" ng-class="{'ion-android-star-outline':!activefav,'ion-android-star':activefav, 'clr-fav':activefav}">
                    </i>
                </button>
                    </div>
                    <button class="button cart-button button-icon button-clear " ng-click="openNotification()"><i class="cart-icon icon ion-android-notifications-none">
                    <span class="custom-badge" ng-if="count != 0">{{count}}</span>
                    </i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="240" class="sidemenu">
        <ion-content>
            <ion-list>
                <!--
                <ion-item class="no-border" style="background-color:#f1f3f4">
                    <img src="img/title.png" class="full-image" alt="">
                </ion-item>
-->
                <ion-item class="item item-avatar menuitem no-border" menu-close href="#/app/profile">
                    <img src="{{user.profile | serverimage}}" alt="">
                    <p style="font-weight: 600;
                    color: #838080 ;">{{user.name}}</p>
                    <span>+91{{user.mobile}}</span>
                </ion-item>
                <ion-item class=" menuitem no-border" menu-close ng-repeat="menuitem in menu track by $index" ng-click="activateMenu($index)" href="{{menuitem.url}}" ng-class="{'active-menuitem': menuitem.state}">
                      <i class="icon {{menuitem.icon}} side-menu-i"></i>
                    <span>{{menuitem.title}}</span>
                    <span class="badge badge-assertive" ng-if="menuitem.badgecount != null || menuitem.badgecount != undefined">{{menuitem.badgecount}}</span>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>