<ion-view view-title="Notification">
    <ion-content>
        <!--            <div class="list" ng-repeat="noti in notification">-->
        <div class="notification">
          <div class="card padding" ng-repeat="item in user.notification | orderBy: '-timestamp'" ng-click="markRead(item)">
              <div class="read-dot" ng-if="!item.read"></div>
              <span>{{item.timestamp | date:'medium'}}</span>
              <h4>{{item.title}}</h4>
              <h5>{{item.body}}</h5>
          </div>
        </div>
    </ion-content>
</ion-view>
