<ion-view view-title="Passbook">
    <div class="bar bar-subheader no-padding">
        <div class="row ">
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                <button class="button button-clear no-padding " ng-click="clickTab('left')">
                    <h5>Expired</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.center}">
                <button class="button button-clear no-padding " ng-click="clickTab('center')">
                    <h5>Available</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                <button class="button button-clear no-padding " ng-click="clickTab('right')">
                    <h5>Used</h5></button>
            </div>
        </div>
    </div>
    <ion-content class="has-subheader">

        <div class="available list" ng-show="tab.center">
            <div class="passbook-entries" ng-repeat="item in available" ng-if="item.vendorname != null">
                <ion-item ng-click="openUp($index)" ng-class="{'thinning-margin':!availableFlags[{{$index}}],'listed':!availableFlags[{{$index}}],'opened':availableFlags[{{$index}}],'animated':availableFlags[{{$index}}],'flipInX':availableFlags[{{$index}}]
}">
                    <h4>{{item.timestamp |  date:'mediumDate'}}</h4>
                    <span ng-class="{'animated':availableFlags[{{$index}}],'flipInX':availableFlags[{{$index}}]
}">{{item.vendorname}}</span>
                    <br>
                    <h5 ng-show="availableFlags[{{$index}}]">Voucher Number : {{item.vouchernumber}}</h5>
                    <h5 ng-show="availableFlags[{{$index}}]">Valid Till : {{item.validtill |  date:'mediumDate'}}</h5>
                    <p>₹ {{item.amount}}</p>
                    <div class="separator" ng-show="availableFlags[{{$index}}]"></div>
                </ion-item>

<!--
                <div class="padding-horizontal" ng-show="availableFlags[{{$index}}]">
                    <button class=" button button-block button-assertive" ng-click="moveToUsed(item)">Move to used</button>
                </div>
-->
            </div>
        </div>
        <div class="used list" ng-show="tab.right">
            <div class="passbook-entries" ng-repeat="item in used" ng-if="item.vendorname != null">
                <ion-item ng-click="openUp($index)" ng-class="{'thinning-margin':!availableFlags[{{$index}}],'listed':!availableFlags[{{$index}}],'opened':availableFlags[{{$index}}],'animated':availableFlags[{{$index}}],'flipInX':availableFlags[{{$index}}]
}">
                    <h4>{{item.timestamp |  date:'mediumDate'}}</h4>
                    <span>{{item.vendorname}}</span>
                    <br>
                    <h5 ng-show="availableFlags[{{$index}}]">Voucher Number : {{item.vouchernumber}}</h5>
                    <h5 ng-show="availableFlags[{{$index}}]">Redeemed on : {{item.redeemedon |  date:'mediumDate'}}</h5>

                    <p>₹ {{item.amount}}</p>
                    <div class="separator" ng-show="availableFlags[{{$index}}]"></div>
                </ion-item>
            </div>
        </div>
        <div class="expired list">
            <ion-item ng-repeat="">
                <h3>{{}}</h3>
            </ion-item>
        </div>
    </ion-content>
</ion-view>