<ion-view view-title="Profile">
    <ion-content>
        <div class="over-layer">
            <div class="layer-over">
                <div class="img-hold" ng-style="{'background-image':'url(img/user.png)'}"></div>
                <p>{{user.name}}</p>
            </div>
        </div>
        <div class="pr-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="user.name" placeholder="Name" ng-disabled="edit">
                </label>
                <label class="item item-input">
                    <input type="email" ng-model="user.email" placeholder="Email" ng-disabled="edit">
                </label>
                   <label class="item item-input">
                    <input type="email" ng-model="user.mobile" placeholder="Email" disabled>
                </label>
                <label class="item item-input" ng-click="openDate();">
                    <input type="text" ng-model="user.date" onfocus="(this.type='date')" placeholder="Birth Date" ng-disabled="edit">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select ng-model="user.gender" ng-disabled="edit">
                        <option>Male</option>
                        <option selected>Female</option>
                    </select>
                </label>
            </div>
            <div class=" padding text-center">
                <button class="button button-block pr-button button-assertive" ng-click="toggleEdit()">
                    Edit
                </button>
                <button class="button button-block pr-button button-assertive" ng-click="saveUser()">
                    Save
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
