<ion-view>
    <ion-nav-title>
        <h1 class="title">
           {{vendor.name}}
       </h1>
    </ion-nav-title>
    <ion-content>
        <div class="redeem">
            <div class="det-slid">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                                           <span ng-if="vendor.hasoffer" class="badge redeem-offer-badge badge-calm">{{vendor.offerpercent}}% more</span>

                    <ion-slide ng-repeat="banner in vendor.bannerurl">
                        <img ng-src="{{banner | serverimage}}" class="full-image" alt="">
                    </ion-slide>

                </ion-slide-box>
            </div>
            <label class="item item-input enter-amount-input padding" ng-class="{'brdr-danger':crossedLimit,'no-border-bottom':!crossedLimit}">

                <span class="input-label icon"><img class="currency" src="img/currency.png"></span>

                <input type="number" placeholder="{{placeholdertext}}" ng-model="redeem.amount" ng-change="isInLimit(redeem.amount)" ng-disabled="fixedinput">
            </label>
            <div class="row no-padding input-options">
                <div class="col no-padding" ng-repeat="item in vendor.amountselect" style="background-color: white !important;">
                    <button class="button no-margin button-clear button-assertive button-block" ng-click="selectMoney(item)" style="
    font-size: 16px !important;">₹ {{item}}</button>
                </div>
            </div>

            <div class="item-note padding " ng-hide="fixedinput" style="background-color: white !important;">
                <span ng-class="{'red-color':crossedLimit}">Redeem limit : {{vendor.amountlimit}}</span>
            </div>
            <div class="item-note padding" style="float:left;" style="background-color: white !important;">
                <span>Wallet balance : ₹ {{myBalance.balance | number:2}}</span>
            </div>
            <div class="padding">
                <button class="button button-block button-assertive no-margin" ng-click="addRedeemTransaction()">Make a voucher</button>
            </div>
            <h1 class="offer-txt" ng-if="vendor.hasoffer">
                Get {{vendor.offerpercent}}% cashback on redeeming from {{vendor.name}}.
            </h1>
            <div class="link">
                <!-- <div class="row">
                    <div class="col">
                        <div class="points-item total-bg">
                            <div class="icon-hold">
                                <i class="icon ion-ios-world-outline"></i>
                            </div>
                            <div class="other-hold">
                                <h3> www.{{vendor.name | lowercase}}.com</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="points-item positives-bg">
                            <div class="icon-hold">
                                <i class="icon ion-social-facebook"></i>
                            </div>
                            <div class="other-hold">
                                <h3>@fb.me/{{vendor.name | limitTo:3 | lowercase }}</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="points-item calm-bg">
                            <div class="icon-hold">
                                <i class="icon ion-social-twitter"></i>
                            </div>
                            <div class="other-hold">
                                <h3> @t.co/{{vendor.name | limitTo:3 | lowercase }}</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="img-m">
                            <img src="img/app.png" class="full-image">
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="img-m">
                            <img src="img/play.png" class="full-image">
                        </div> -->
                        <!--
                        <div class="points-item positives-ap">
                            <div class="icon-hold">
                                <i class="icon ion-social-apple"></i>
                            </div>
                            <div class="other-hold">
                                <h3> @t.co/{{vendor.name | limitTo:3 | lowercase }}</h3>
                            </div>
                        </div>
                    </div>
-->
                    </div>
                </div>
                <!-- <div class="det-name">
                    <div class="card">
                        <div class="row">
                            <div class="col col-66">
                                <div class="item item-text-wrap">
                                    <h4>{{vendor.name}}</h4>
                                    <h5>Address:</h5>
                                    <p>A-1, 806, Empire Mahal</p>
                                    <p>Dr B. A Road, Dadar T.T. Circle</p>
                                    <p>Mumbai - 400014</p>
                                    <p>Maharashtra</p>
                                    <p>Phone: 022 4921 8333</p>
                                    <a href="#"><h6><i class="ln-map-marker"></i>Map</h6></a>
                                </div>
                            </div>
                            <div class="col col-33">
                                <img src="img/map.jpg" class="full-image" style="width: 62px;float: right;">
                            </div>
                        </div>
                    </div>
                </div> -->
                <ion-item class="tnc" ng-click="tNc();">
                    Terms &amp; conditions
                    <i class="icon" ng-class="{'ln-clipboard-check':readTNC,'ln-chevron-right':!readTNC}"></i>
                </ion-item>
                <ion-item class="item-icon-right" ng-click="showRedeem();">
                  <i class="icon ion-ios-help-outline"></i>
                  How to Redeem
                </ion-item>
            </div>
    </ion-content>
</ion-view>
