<ion-view>
    <ion-nav-title>
        <h1 class="title">
           {{vendor.name}}
       </h1>
    </ion-nav-title>
    <ion-content>
        <div class="redeem">
            <div class="banner-holder">
                <img class="full-image" src="img/banners/amazon.png" alt="">
            </div>
            <label class="item item-input enter-amount-input padding" ng-class="{'brdr-danger':crossedLimit,'no-border-bottom':!crossedLimit}">
                                <span class="input-label icon"><img class="currency" src="img/currency.png"></span>

                <input type="number" placeholder="{{placeholdertext}}" ng-model="redeem.amount" ng-change="isInLimit(redeem.amount)" ng-disabled="fixedinput">
            </label>
            <div class="row no-padding">
                <div class="col no-padding" ng-repeat="item in vendor.amountselect">
                    <button class="button no-margin button-clear button-assertive button-block" ng-click="selectMoney(item)" style="
    font-size: 16px !important;">₹ {{item}}</button>
                </div>
            </div>
            
            <div class="item-note padding " ng-hide="fixedinput">
                <span ng-class="{'red-color':crossedLimit}">Redeem limit : {{vendor.amountlimit}}</span>
            </div>
               <div class="item-note padding" style="float:left;">
                <span ng-class="{'red-color':crossedLimit}">Wallet balance : ₹ {{user.balance | number:2}}</span>
            </div>
            <div class="padding">
                <button class="button button-block button-assertive no-margin" ng-click="addRedeemTransaction()">REDEEM</button>
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-world-outline assertive"></i> www.{{vendor.name | lowercase}}.com
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ln-smartphone assertive"></i> Android app link
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ln-iphone assertive"></i> iOS app link
            </a>
            <div class="row">
                <div class="col"><a class="item item-icon-left padding-vertical no-border" href="#">
                <i class="icon ion-social-facebook-outline assertive"></i> @fb.me/{{vendor.name | limitTo:3 | lowercase }}
            </a></div>
                <div class="col"><a class="item item-icon-left padding-vertical no-border" href="#">
                <i class="icon ion-social-twitter-outline assertive"></i> @t.co/{{vendor.name | limitTo:3 | lowercase }}
            </a></div>
            </div>
            <ion-item class="tnc" ng-click="tNc()">
                Terms & conditions
                <i class="icon" ng-class="{'ln-clipboard-check':readTNC,'ln-chevron-right':!readTNC}"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>