<ion-view>
    <ion-nav-title>
        <h1 class="title">
           {{vendor.name}}
       </h1>
    </ion-nav-title>
    <ion-content>
        <div class="banner-holder">
            <img class="full-image" src="img/banners/amazon.png" alt="">
        </div>
        <!--
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            Flux Capacitor
        </li>
-->
        <label class="item item-input enter-amount-input">
            <span class="input-label">₹</span>
            <input type="number" placeholder="Enter amount" ng-model="user.amount" ng-disabled="fixedinput">
        </label>
        <div class="row no-padding">
            <div class="col no-padding" ng-repeat="item in quickMoney">
                <button class="button no-margin button-clear button-assertive button-block" ng-click="AddMoney()" style="
    font-size: 15px !important;">+ {{item}}</button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="showAlert()">REDEEM</button>
        </div>
        <ion-item class="tnc" ng-click="tNc();">Terms & conditions <i class="icon" ng-class="{'ln-clipboard-check':readTNC,'ln-chevron-right':!readTNC}"></i></ion-item>
    </ion-content>
</ion-view>