<ion-view view-title="Referral">
    <div class="bar bar-subheader bar-stable no-padding">
        <h1 class="category-subheader-txt">
                   Your referral code is your phone number
                   <br>
                   9768999331
               </h1>
        <a class="item item-avatar item-stable friends-total-item" href="" style="border-top:0px;">
            <h1>{{friends.length}}</h1>
            <h2>Friendly Referrals</h2>
            <span>₹ {{referralmoney}}</span>
        </a>
    </div>
    <ion-content class="referral has-subheader-custom" on-scroll-complete="shareTimeout()">
        <div class="list">
            <h1 class="category-header-txt"> Earn 1 % of your referral's wallet balance!
</h1>
            <a class="item item-avatar referred-friend-item" href="#" ng-repeat="friend in friendlist track by $index">
                <img ng-src="{{friend.imgurl}}">
                <h2>{{friend.name}}</h2>
                <span class="badge badge-positive">₹ {{friend.price}}</span>
            </a>
        </div>

    </ion-content>
    <div class="button-share-container" ng-show="sharebutton" ng-class="{'animated':sharebutton,'bounceInUp':sharebutton}">
        <button class="button button button-icon icon ion-android-share-alt button-share" ng-click="shareIt()">
        </button>
    </div>
</ion-view>