<ion-view view-title="Send Money">
    <ion-content>
        <!--
    <ion-item class="send-progressbar no-padding">
       <div class="row">
          <div class="linker-separator"></div>
           <div class="col no-padding text-center">
               <a href="" class="button button-icon icon no-padding ion-ios-checkmark-outline"></a>
               <p>who</p>
           </div>
           <div class="col no-padding text-center">
               <a href="" class="button button-icon icon no-padding ion-ios-checkmark-outline"></a>
               <p>amount</p>
           </div>
           <div class="col no-padding text-center">
               <a href="" class="button button-icon icon no-padding ion-ios-checkmark-outline"></a>
               <p>transfer</p>
           </div>
           <div class="col no-padding text-center">
               <a href="" class="button button-icon icon no-padding ion-ios-checkmark-outline"></a>
               <p>payment</p>
           </div>
           <div class="col no-padding text-center">
               <a href="" class="button button-icon icon no-padding ion-ios-checkmark-outline"></a>
               <p>confirm</p>
           </div>
       </div>
        
    </ion-item>
-->
        <h1 class="category-header-txt">Send money to your friends from your wallet!</h1>
        <form ng-submit="sendMoney()">
            <div class="list no-margin">
                <label class="item item-input">
                    <input type="tel" placeholder="Phone number">
                    <a href="" class="button contacts-button button-icon icon no-padding ln-contacts"></a>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Amount">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comments"></textarea>
                </label>
            </div>
             <div class="padding">
            <button class="button button-assertive button-block">Send</button>
            </div>
        </form>
    </ion-content>
</ion-view>