<ion-view view-title="Send Money">
    <ion-content>
        <h1 class="category-header-txt">Send money to your friends</h1>
        <form>
            <div class="list no-margin">
                <label class="item item-input">


                    <input type="tel" placeholder="Phone number" ng-model="send.mobile" ng-class="{'brdr-red':dirty.mobile}">

                </label>
        <button class="button contacts-button button-icon icon no-padding ln-contacts" ng-click="selectContact()"></button>
                <label class="item item-input enter-amount-input">
<!--                    <span class="input-label"><span class="input-label-small icon"><img class="currency-small" src="img/currency.png"></span></span>-->
                    <input type="number" placeholder="Enter amount" ng-model="send.amount" ng-class="{'brdr-red':dirty.amount}" style="padding:0;">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comments" ng-model="send.comment"></textarea>
                </label>
            </div>
            <div class="padding martp">
                <button class="button button-assertive button-block" ng-click="sendIt()">Send</button>
            </div>
        </form>
    </ion-content>
</ion-view>
