<ion-modal-view>
    <ion-header-bar  align-title="center">
        <h1 class="title">Terms & Conditions</h1>
        <div class="buttons padding-horizontal ">
            <button class="button button-clear" ng-click="closeTNC()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-content on-scroll-complete="closeTNC()" class="padding">
        <!--
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti nam possimus earum, labore molestias tempore delectus necessitatibus incidunt temporibus odio consequatur doloribus, quidem blanditiis vero ullam recusandae a esse?</p>
-->
        {{vendor.description}}
    </ion-content>
</ion-modal-view>