<ion-view view-title="Transaction History">
    <div class="bar bar-subheader no-padding">
        <a href="#/app/wallet" style="text-decoration:none;" ng-click="closeHistory()">
            <div class="wallet-holder" style="margin-top: -5px;">
                <div class="wallet-balance">
                    <h3>Wallet Balance</h3>
                    <h2><span class="input-label-small icon"><img class="currency-small" src="img/currency.png"></span> {{myBalance.balance | number:2}}/-</h2>
                </div>
                <img src="img/walletlock.png" alt="">
            </div>
        </a>
        <div class="row ">
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.left}">
                <button class="button button-clear no-padding " ng-click="clickTab('left')">
                    <h5 class="f-m">Balance Added</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.center}">
                <button class="button button-clear no-padding " ng-click="clickTab('center')">
                    <h5 class="f-m">Sent And Received</h5></button>
            </div>
            <div class="col no-padding text-center" ng-class="{'active-tab':tab.right}">
                <button class="button button-clear no-padding " ng-click="clickTab('right')">
                    <h5 class="f-m">Redeemed</h5></button>
            </div>
        </div>
    </div>
    <ion-content class="has-customheader">

        <div class="me-tab" ng-show="tab.left">
            <div class="list">
                <a class="item item-icon-left" ng-repeat="item in balanceHistory | orderBy: '-timestamp'" ng-if="item.amount != null">
                    <i class="ln-calendar3"></i> {{item.timestamp | date:'mediumDate'}}
                    <span class="item-note">
      <span class="input-label-small icon"><img class="currency-small" src="img/currency.png"></span> {{item.amount}}
    </span>
                </a>
            </div>
        </div>
        <div class="noti" ng-show="tab.center">
            <div class="list">

                <a class="item item-avatar" href="#" ng-repeat="item in sentmoney | orderBy: '-timestamp'" ng-if="item.amount != null">
                    <img class="img-hold" ng-src="{{item.profile | serverimage}}">

                    <h2>{{item.username}}</h2>
                    <p><i class="ln-calendar3"></i> {{item.timestamp | date:'mediumDate'}}</p>
                    <p><i class="ln-cash"></i> {{item.amount}}</p>
                    <p><i class="ln-circle-up"></i> {{item.sent}}</p>
                </a>

            </div>
        </div>
        <div class="noti" ng-show="tab.right">
            <div class="list">

                <a class="item item-avatar" href="#" ng-repeat="item in redeemed | orderBy: '-timestamp'" ng-if="item.amount != null">
                    <div class="img-hold" ng-style="{'background-image':'url(img/user.png)'}"></div>
                    <h2>{{item.vendorname}}</h2>
                    <p><i class="ln-calendar3"></i> {{item.timestamp | date:'mediumDate'}}</p>
                    <p><i class="ln-cash"></i> {{item.amount}}</p>

                </a>

            </div>
        </div>
    </ion-content>
</ion-view>
