<ion-modal-view>
    <ion-header-bar align-title="center">
        <h1 class="title">Upgrade KYC</h1>
        <div class="buttons padding-horizontal">
            <button class="button button-clear" ng-click="closeUpgrade()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <h1 class="category-header-txt">Upload Pan card</h1>
        <div class="rel" style="position:relative">
            <div class="button-upload-container">
                <button class="button button button-icon icon ln-upload button-upload" ng-click="addPanImage()">
                </button>
            </div>
            <div class="item">
                <h2>Pan card</h2>
            </div>
        </div>
        <div class="row uploaded-image no-padding" ng-if="panImage.length > 0">
            <div class="col-33" ng-repeat="item in panImage">
                <img src="{{item}}" class="full-image"  alt="">
            </div>
        </div>
        <h1 class="category-header-txt">Select and upload either of the following</h1>
        <ion-list class="upgrade-container">
           <ion-radio ng-model="other" ng-value="'Passport'">Passport</ion-radio>
           <ion-radio ng-model="other" ng-value="'Driving license'">Driving license</ion-radio>
           <ion-radio ng-model="other" ng-value="'Aadhar card'">Aadhar card</ion-radio>
           <ion-radio ng-model="other" ng-value="'Voter ID'">Voter ID</ion-radio>
            <div class="button-upload-container">
                <button class="button button button-icon icon ln-upload button-upload" ng-click="addOtherImage()">
                </button>
            </div>
        </ion-list>
        <div class="row uploaded-image no-padding" ng-if="otherImage.length > 0">
            <div class="col" ng-repeat="item in otherImage">
                <img src="{{item}}" class="full-image"  alt="">
            </div>
        </div>
        <div class="spacer-small"></div>
        <div class="padding">
            <button class="button button-assertive button-block" ng-click="upgradeIt(other)">submit</button>
        </div>
    </ion-content>
</ion-modal-view>