<ion-view view-title="Wallet">
    <ion-content>
        <div class="wallet-content">
            <div class="wallet-holder">
                <div class="wallet-balance">
                    <h3>Wallet Balance</h3>
                    <h2>₹ 2640/-</h2>
                </div>
                <img src="img/walletlock.png" alt="">
            </div>

            <label class="item item-input enter-amount-input">
                <span class="input-label">₹</span>
                <input type="number" placeholder="Enter amount">
            </label>
            <div class="row btns-wallet no-padding">

                <div class="col-80 padding-horizontal">
                    <button class="button button-assertive button-block" style="color:black">ADD MONEY</button>
                </div>
                <div class="col-20 padding-horizontal">

                    <button class="button button-icon btn-history icon ln-history button-clear button-assertive button-block" ng-click="history()"></button>
                    <h6 class="text-center no-margin">History</h6>
                </div>
            </div>
            <h1 class="wallet-txt">
                Get 10% more every time you add balance!
            </h1>
            <div class="spacer-small"></div>
            <div class="spacer-small"></div>
            <div class="pending-header">
                <h4>Requests pending approval</h4>
            </div>

        </div>
    </ion-content>
    <div class="custom-scroll" on-drag-up="upIndicator()" on-drag-down="downIndicator()">
        <ion-scroll direction="y">
            <ion-list>
                <ion-item class="pending-item" ng-repeat="item in pendings">
                    <h4>{{item.date}}</h4>
                    <span>{{item.name}}</span>
                    <br>
                    <p style="    position: absolute;
    top: 18px;
    right: 10px;">₹ {{item.price}}</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <div class="scroll-indicate" style="display:none;">
            <i class="icon" ng-class="{'ln-chevron-down':indicator,'ln-chevron-up':!indicator}" style="font-size: 17px; color:#909090"></i>
        </div>
    </div>
</ion-view>