<ion-view view-title="Wallet">
    <ion-content>
        <div class="wallet-holder">
            <div class="wallet-balance">
                <h3>Wallet Balance</h3>
                <h2>₹ 2640/-</h2>
            </div>
            <img src="img/walletlock.png" alt="">
        </div>
        <label class="item item-input">
            <input type="number" placeholder="Amount">
        </label>
        <div class="padding">
            <button class="button button-assertive button-block">ADD MONEY</button>
        </div>
        <div class="top-up-header">
            <h4>Top up History</h4>
        </div>
            <ion-scroll direction="y" class="top-up-history" style="height:250px">
                <ion-item>
                    <h2>₹ 201 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 202 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 503 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 504 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 605 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 606 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 607 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 608 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 609 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
                <ion-item>
                    <h2>₹ 6010 <span class="item-note">21/10/2015</span></h2>
                </ion-item>
        </ion-scroll>
    </ion-content>
</ion-view>